<style>
        h1{
            color: #193f09;
            font-size: 50px;
            font-family: Arial, Helvetica, sans-serif;
           
            height:60px;
        }
        h3.t1{
            color: rgb(3, 105, 29);
            font-size: 25px;
            background-color: aliceblue;
        }
        .tour{
            color:black;
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: rgb(186, 214, 214);
        }
        .highlight{
            color: red;
        }
        .tour{
            border: 7px solid rgb(142, 202, 142);
            border-radius: 30px;
            width:25%;
            margin: 1%;
            padding: 20px 40px;
            display:inline-block;
            

        }
        h3{
            text-align:center;
        }
        p{
            text-align:justify;
        }
        
    </style>